@font-face {
  font-family: 'Boldins';
  src: url(fonts/Boldins.otf);
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#welcome-page {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #ce1a1a;
}

#instructions-container {
  margin-top: 20px;
}

#instruction-text {
  font-size: 16px;
  color: #555;
  font-family: 'Boldins'; 
}

.hellokittyjumping {
  width: 20px;
  height: auto;
  margin-top: 50px;
}
#next-btn, #start-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #df0f81;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-top: 20px;
}
#next-btn {
  margin-top: 50px;
}

#next-btn:hover, #start-btn:hover {
  background-color: #eb81c4;
}

#start-btn {
  display: none; /* Initially hide the Start Game button */
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 20px; /* Adjust the top margin as needed */
}









body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  background-color: #fff; /* Set your desired background color */
  margin: 0;
  padding: 0;
}


header {
  background-color: #e3576f;
  padding: 20px 40px;
  margin-bottom: 60px;
  text-align: center;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header img {
  margin-right: 20px;
  width: 60px; /* Adjust the width as needed */
  height: auto;
}


h1 {
  margin-right: 500px;
  color: #ffffff;
  font-family:'Boldins';
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 20px;
  font-weight: bold;
  font-size: 2em;
}


#welcome-container, #game-container {
  position: relative;
}


#start-btn {
  font-size: 18px;
  padding: 12px 20px;
  cursor: pointer;
  background-color: #e3576f;
  border: none;
  color: white;
  border-radius: 5px;
}


#board {
  background-image: url('./background.jpg');
  background-color: #f0f0f0;
  border: 2px solid #ffffff;
  display: block;
  margin: 0 auto;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6); /* Adjust the values as needed */
}


#score {
  background-color: #e3576f;
  color: white;
  position: absolute;
  top: 200px;
  left: 10px;
  padding: 12px;
  font-size: 18px;
  border-radius: 60px;
}


#game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background-color: #e3576f;
  color: white;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 60px;
}


#restart-btn {
  align-items: center;
  background-color: #e3576f;
  color: white;
  display: none;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 60px;
}
