.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  position: relative; /* Added position relative for absolute positioning within */
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url('./walk 1.PNG'); /* Updated the background image URL */
  background-size: 50px 50px;
  position: absolute; /* Changed position to absolute */
  bottom: 0; /* Adjusted to bottom instead of top */
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 20px;
  }

  50% {
    bottom: 70px;
  }

  80% {
    bottom: 20px;
  }

  100% {
    bottom: 0;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: absolute; /* Changed position to absolute */
  bottom: 0; /* Adjusted to bottom instead of top */
  right: 0; /* Adjusted to right instead of left */

  background-image: url('./bush 1.jpg'); /* Updated the background image URL */
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    right: 0;
  }

  100% {
    right: -20px;
  }
}
